<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://live.staticflickr.com/86/269113697_b717571d5e_b.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Roy</h5>
                          <p class="card-text">Id:123</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://th.bing.com/th/id/R.339c01fe6b40466fa5d7fd920f2a48f2?rik=d%2fTc4xeLptOhlg&riu=http%3a%2f%2fwww.imscochin.org%2fimages%2fplm%2f2019_placed%2fgogul.jpg&ehk=nGFnO32I46MEIqPX4LyYsTq%2f6DnVeBxXPEgzzSmsT7U%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Mathews</h5>
                          <p class="card-text">Id:451</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://img0cf.b8cdn.com/images/uploads/user_photos/84/37170084_20160819171852.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">George</h5>
                          <p class="card-text">Id:784</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://th.bing.com/th/id/OIP.U3xDSeBHRdOWuvVB-61SzAAAAA?pid=ImgDet&w=304&h=372&rs=1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Anand</h5>
                          <p class="card-text">Id:852</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://th.bing.com/th/id/OIP.U3xDSeBHRdOWuvVB-61SzAAAAA?pid=ImgDet&rs=1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Alex</h5>
                          <p class="card-text">Id:</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://www.idealsnetwork.com/business-valuation-summit-15th-june/assets/images/apurva.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Max</h5>
                          <p class="card-text">Id:563</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://0.academia-photos.com/72711215/21809850/21106548/s200_zeyad.jaffal.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">James</h5>
                          <p class="card-text">Id:984</p>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card">
                        <img height="250px" src="https://th.bing.com/th/id/R.1eb24b24e17b2d064593b901642671f4?rik=NrdOPcl7PNIELA&riu=http%3a%2f%2fashraeral.org%2fwp-content%2fuploads%2f2020%2f11%2fAhmed-Elsafty-200x200.jpg&ehk=7J0ua%2biLEzyoiEnOHhX2hSs7Lv%2bwkKrKeeQAEnGVFg4%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">joyel</h5>
                          <p class="card-text">Id:567</p>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
</div>

